{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Техническое обслуживание Porsche{% endblock %}
{% block content %}
<div class="cred">
        <img src="https://www.porsche-moscow.ru/photos/header/444234_4HBLRIjgE8g6K1hy6OKkRI3nsRKA4KUY.jpg.optimized.jpg" alt="">
    </div>
    <div class="bad">
        <p>Запрос на консультацию</p>
    </div>
<div class="mad">
    <p>Заполните данные и ждите звонка.</p>
    <div class="lol2">
        <p>Запрос на консультацию</p>
         <form method="post">
        {% csrf_token %}
        <p>Ведите имя: </p>{{ form.name }}
        <p>Ведите фамилию: </p>{{ form.last_name }}
        <p>Выберите автомобиль: </p>{{ form.car }}
        <p>Ведите номер телефона: </p>{{ form.phonenum }}<br>
        <p>Ведите Email:</p>{{ form.email }}<br>
        <span>{{ error }}</span>
            <p></p>
        <button type="submit">Отправить запрос</button>
        </form>
    </div>
</div>

{% endblock %}