{% extends "homepage/base.html" %}
{% load static %}
{% block link %}<link rel="stylesheet" href="{% static 'homepage/css/car.css' %}" />{% endblock %}
{% block title %}Porsche Cayman{% endblock %}
{% block content %}
    <div id="tekst_sverhu_kartinki">

        <img  class="im" src="https://searchthisweb.com/wallpaper/porsche-cayman-s_3840x2025_r8zna.jpg " alt="Текст сверху картинки">

        <div class="tekst_sverhu_kartinki_1">

        <span><h1>Дизайн.</h1></span><br>

        <span>Точный и стильный. Энергичный. Низкий, широкий, стремительный. Дизайн моделей 718 характеризуется спортивными гранями и четкими формами.</span>

        </div>

        </div>
    <div id="tekst_sverhu_kartinki">

            <img  class="im" src="https://wallpapershome.ru/images/wallpapers/porshe-kayman-3840x2160-2015-obzor-salon-3263.jpg" alt="Текст сверху картинки">

            <div class="tekst_sverhu_kartinki_1">

            <span><h1>Комфорт.</h1></span><br>

            <span>Адаптивные амортизаторы для большего комфорта в обычных поездках. А также много места для хранения мелких вещей, большой запас пространства для ног и два вместительных багажника.</span>

            </div>

            </div>
    <div id="tekst_sverhu_kartinki">

                <img  class="im" src="https://avatars.mds.yandex.net/get-vertis-journal/3911415/769_101_highres.jpeg_1637132694609/orig" alt="Текст сверху картинки">

                <div class="tekst_sverhu_kartinki_1">

                <span><h1>Динамика.</h1></span><br>

                <span>Что делает модели 718 такими особенными? Их мощность, динамические характеристики, дизайн, просторный салон с 2 багажниками. Но прежде всего – среднемоторная концепция, которая позволяет реализовать все перечисленные выше достоинства.</span>

                </div>

    </div>


<!--    <div class="container">-->
<!--        <img src="https://media.torque.com.sg/public/2022/12/CM23N3FOX0001_16zu9_rgb_midres1010.jpg" alt="Snow" style="width:100%; height: 100%;">-->
<!--        <div class="top-left">-->
<!--            <h4>Технические характеристики</h4>-->

<!--                <p  class="er" >Мощность 300 л.с./220 кВт.</p><br>-->
<!--                <p  class="er" >Разгон с 0-100 км/ч за 5.3.</p><br>-->
<!--                <p  class="er" >4.7 с	Разгон 0-100 км/ч с пакетом Sport Chrono.</p><br>-->
<!--                <p  class="er" >275 км/ч	Максимальная скорость.</p><br>-->
<!--                <p  class="er" >1 801 мм	Ширина.</p><br>-->
<!--                <p  class="er" >4 379 мм	Длина.</p><br>-->


<!--        </div>-->

<!--    </div>-->





</div>
<div class="lol">
    <p>Вас заинтересовало?</p>
    <p>Заполните форму, чтобы связаться с дилером Porsche и получить больше информации об интересующей вас модели.</p>

</div>
<div class="lol1">
    <a href="{% url 'buy_porsche' %}">Связаться</a>
</div>

{% endblock %}