{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Адрес и часы работы Porsche{% endblock %}
{% block content %}
    <div class="bad">
        <p>Адрес и часы работы</p>
    </div>
<div class="mad">
   <h6>Порше Центр Москва</h6>
  <p>Официальный дилер Porsche</p>
  <p>Россия, 620131, г. Москва, ул. Металлургов, 78</p>
  <p>Тел: +7 (373) 3 980 911</p>
  <h6>Режим работы:</h6>
  <h6>Отдел продаж</h6>
  <p>Понедельник - Суббота с 9.00 до 20.00</p>
  <p>Воскресенье с 9.00 до 19.00</p>
  <h6>Отдел послепродажного обслуживания</h6>
  <p>Понедельник - Суббота с 8.00 до 20.00</p>
  <p>Воскресенье с 9.00 до 19.00</p>
</div>


{% endblock %}