{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/fin.css' %}" />{% endblock %}
{% block title %}Кредитование Porsche{% endblock %}
{% block content %}
    <div class="cred">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/444138_SArAwfqqwxCCgtNudJNlcG2dNLTW43dw.jpg.optimized.jpg" alt="">
    </div>
    <div class="bad">
        <p>Кредитование</p>
    </div>
    <div class="credit">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/444171_GThEdKnjRyjOku8L1jm0tTnPWQpF8uKo.jpg" alt="" align="left" >
        <div class="lol">
            <p>Стандартная программа кредитования для новых автомобилей</p><br>
            <div class="lol1">

                <p>Стандартная программа кредитования для всех моделей Porsche.</p>
                <p></p>
                <div class="lol2">
                    <a href="{% url 'standard' %}">Обзор</a>
                </div>
            </div>
        </div>
    </div>

    <div class="credit">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/444173_yxfbVNf8Sw2cWpcJipduARm7JKYtIROl.jpg" alt="" align="left" >
        <div class="lol">
            <p>Стандартная программа кредитования для автомобилей с пробегом</p><br>
            <div class="lol1">

                <p>Стандартная программа кредитования для автомобилей с пробегом.</p>
                <p></p>
                <div class="lol2">
                    <a href="{% url 'standard_used' %}">Обзор</a>

                </div>
            </div>
        </div>
    </div>

    <div class="credit">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/1460835_kwtgh8SkUd5rr6XsMjq14FpYlgsIaWHo.jpg" alt="" align="left" >
        <div class="lol">
            <p>Porsche в кредит по ставке 0,01% целый год*</p><br>
            <div class="lol1">

                <div class="lol2">
                    <a href="{% url 'special_credit' %}">Обзор</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}