{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Страхование Porsche{% endblock %}
{% block content %}
<div class="cred">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/445100_Tj351vjoggHntY1Vvt16NRnfhQQ1iTrg.jpg.optimized.jpg" alt="">
    </div>
    <div class="bad">
        <p>Страхование</p>
    </div>
    <div class="mad">
        <p>Остановив свой выбор на покупке автомобиля Porsche, Вы получаете возможность не только насладиться ни с чем несравнимым ощущением от езды, но и испытать высокое качество и долговечность Вашего спорткара. Мы понимаем, как важно защитить Ваш Porsche от любых непредвиденных ситуаций на дорогах, поэтому на территории нашего дилерского  центра мы предлагаем условия страхования достойные Вашего автомобиля</p>
        <p>Мы работаем только с проверенными компаниями. Гибкие условия страхования могут удовлетворить самых взыскательных клиентов Porsche. Наши специалисты по страхованию готовы подобрать программу страхования интересную именно Вам, выслушать все Ваши пожелания и подготовить необходимые документы заранее.</p>
        <p>В Порше Центре Екатеринбург Вы можете воспользоваться услугой страхования компаний-партнеров*:</p>
        <ol>
            <li>
                <p>ОАО «АльфаСтрахование»</p>
            </li>
            <li>
                <p>ПАО СК «Росгосстрах»</p>
            </li>
            <li>
                <p>СПАО "Ингосстрах"</p>
            </li>

        </ol>
        <p>Для клиентов, оформивших полис КАСКО на территории Порше Центра Екатеринбург,  доступна услуга - Удалённое урегулирование убытков</p>
        <p>При наступлении страхового случая Вы можете обратиться с письменным заявлением** к сервис-менеджеру цеха кузовного ремонта.</p>
        <h6>Преимущества данной услуги для Вас :</h6>
        <ol>
            <li>
                <p>Позволит Вам сэкономить время при оформлении страховых формальностей.</p>
            </li>
            <li>
                <p>
                    Отсутствие очередей. По предварительной записи вы приезжаете к нам в удобное для Вас время
                </p>
            </li>
            <li>
                <p>Осмотр и дефектовка автомобиля проводится непосредственно в специализированном сервисном центре.</p>
            </li>
            <li>
                <p>Наши специалисты решат вопрос с направлением на ремонт Вашего автомобиля более оперативно, чем в страховых компаниях</p>
            </li>
            <li>
                <p>Индивидуальный подход к каждому клиенту и его страховому случаю.</p>
            </li>
            <li>
                <p>Услуга УУУ предоставляется клиентам за счет страховых компаний.</p>
            </li>
        </ol>
        <p>Предложение носит информационный характер и не является публичной офертой (ст.437 ГК РФ). Вся информация указана по состоянию на 01.07.2021 г. Подробности уточняйте у специалистов цеха кузовного ремонта в Порше Центре Екатеринбург или по телефону +7(343) 3 000 911.</p>
        <p>* Страховые компании-партнёры:  ПАО СК "Росгосcтрах" (лицензия СЛ № 0001 от 06.06.2018 г., лицензия СИ №0001 от 06.06.2018 г., лицензия ОС № 0001-03 от 06.06.2018 г.), ОАО "АльфаСтрахование" (лицензия  ОС № 2239-03 от 13.11.2017 г.), СПАО "Ингосстрах" (лицензия СИ №0928 от 23.09.2015 г., СЛ №0928 от 23.09.2015 г., ОС №0928-03 от 23.09.2015 г., ОС №0928-04 от 23.09.2015 г., ОС №0928-05 от 23.09.2015 г.)</p>
        <p>** Для принятия заявления обязательно наличие справки из ГИБДД при ДТП , а также иные документы (перечень документов нужно уточнить по телефону Порше Центра Екатеринбург). </p>
        <h6>Будьте спокойны за рулём любимого Porsche.</h6>
    </div>
{% endblock %}