{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Лизинг Porsche{% endblock %}
{% block content %}
<div class="cred">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/444139_Cq7kdWmSBqneVFLwfiNMWeXPJcCxbq6E.jpg.optimized.jpg" alt="">
    </div>
    <div class="bad">
        <p>Лизинг</p>
    </div>
<div class="mad">
    <h6>Лизинг*</h6>
    <p>Лизинг – доступное финансирование, ощутимое уменьшение налоговой нагрузки и сохранение оборотных средств для юридических лиц и предпринимателей, желающих приобрести автомобиль Porsche.</p>
  <p>Преимущества Программ лизинга Porsche Financial Services**:</p>
  <ol>
    <li>
      <p>Высокая скорость принятия решения о финансировании;</p>
    </li>
    <li>
      <p>Индивидуальные условия финансирования;</p>
    </li>
    <li>
      <p>Полное сопровождение договоров лизинга и грамотное консультирование;</p>
    </li>
    <li>
      <p>Сумма страховой премии, регистрация автомобиля (постановка и снятие с учёта) могут быть включены в сумму лизинговых платежей;</p>
    </li>
    <li>
      <p>Отсутствие комиссии за досрочное исполнение договора лизинга.</p>
    </li>
  </ol>
  <p>Подробную информацию по лизинговым программам Вы можете получить в отделе продаж Порше Центра Екатеринбург и у руководителя направления корпоративных продаж </p>

    </div>
{% endblock %}