{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Правовая информация Porsche{% endblock %}
{% block content %}
    <div class="bad">
        <p>Правовая информация</p>
    </div>
<div class="mad">
    <h6>Политика обработки персональных данных и реализуемых требований к защите персональных данных в ООО «Респект» в рамках пользования сайтом www.porsche-ekaterinburg.ru</h6>
    <h6>1. Общие положения</h6>
    <p>1.1 Настоящая Политика обработки персональных данных (далее – Политика) действует в отношении всей информации, которую ООО «Респект» (далее – Оператор) может получить о пользователе сайта во время использования им сервисов сайта. Согласие пользователя сайта на предоставление персональной информации дается им в соответствии с настоящей Политикой в рамках использования сайта.</p>
    <p>1.2 Использование сервисов ООО «Респект» означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональных данных. В случае несогласия с этими условиями пользователь должен воздержаться от использования Сайта.</p>
    <p>1.3 Настоящая Политика разработана в соответствии Федеральным законом от 27 июля 2006г. № 152-ФЗ «О персональных данных» и Постановления Правительства РФ от 1 ноября 2012г. № 1119 «Об утверждении Требований к защите персональных данных при их обработке в информационных системах персональных данных».</p>
    <p>1.4 Политика подлежит изменению, дополнению в случае принятия новых законодательных актов и специальных нормативно-правовых документов по обработке персональных данных. При внесении изменений в актуальной редакции указывается дата последнего обновления. </p>
    <h6>2. Данные, обрабатываемые ООО «Респект».</h6>
    <p>2.1. В рамках настоящей Политики под персональными данными пользователя понимается персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации (создании учетной записи) на Сайте, включая:</p>
    <ol>
      <li>
        <p>Фамилия, имя, отчество;</p>
      </li>
      <li>
        <p>Адрес места проживания;</p>
      </li>
      <li>
        <p>Номера контактных телефонов;</p>
      </li>
      <li>
        <p>Адрес электронной почты;</p>
      </li>
      <li>
        <p>Иная информация о Пользователе, предоставление которой происходит при использовании Сайта.</p>
      </li>
    </ol>
    <p>2.2 Оператор по общему правилу не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако Оператор исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации, и поддерживает эту информацию в актуальном состоянии.</p>
</div>


{% endblock %}