{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Сезонные проверки Porsche{% endblock %}
{% block content %}
    <div class="cred">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/454765_XHeRMYvC7vB4eOLuwJVtlioQsrLp2jH5.jpg.optimized.jpg" alt="">
    </div>
    <div class="bad">
        <p>Сезонные проверки</p>
    </div>
<div class="mad">
    <p>От автомобиля Porsche Вы вправе ожидать многого. Например, что он постоянно будет приводить Вас в восхищение своими техническими возможностями. Или ощущением полной безопасности, хотя погода сделала всё, чтобы этому помешать. Своевременные сезонные проверки, позволяют Вам продлить удовольствие от проверенной безопасности вождения до 365 дней в году независимо от режима эксплуатации, дорожных и погодных условий. В рамках сезонных проверок проводится тщательная диагностика Вашего Porsche и его подготовка к эксплуатации в предстоящем сезоне. Профессионально, компетентно и с учетом Ваших индивидуальных пожеланий.</p>
    <p>Возможность, сроки и условия проведения акций зимняя и весенняя проверка уточняйте в дилерском центре Porsche</p>
    <h6>Зимний осмотр</h6>
    <p>Зимняя проверка проводится для того, чтобы Ваш Porsche спокойно перенёс холодное время года. На основе тщательно составленного перечня работ мы внимательно проверим автомобиль и наилучшим образом подготовим его к любым капризам погоды. По Вашему желанию мы также установим на открытый автомобиль жесткий верх и придадим Вашему Porsche совершенно новый блеск посредством комплексной чистки. И все это для того, чтобы Вы были уверены в одном: Вас ждут 365 дней удовольствия от вождения.</p>
    <h6>Весенний осмотр</h6>
    <p>Когда воздух прогревается и дни становятся длиннее, приходит время весеннего осмотра,в ходе которого будет проведена проверка Вашего автомобиля после длительной зимней эксплуатации.В первую очередь, как в ходе любого сезонного осмотра,проверяются основные показатели работы и состояние двигателя, подвески и электрооборудования.Чтобы вы могли наслаждаться лучами солнца,мы предложим услуги по установке летних колес и побалуем Ваш Porsche комплексной чисткой. Мы с нетерпением ждем Вас в дилерском центре Porsche.</p>
</div>


{% endblock %}