{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Техническое обслуживание Porsche{% endblock %}
{% block content %}
<div class="cred">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/454762_Ne1f5JpsBdB8QrXEguvXbap3jxH43DGq.jpg.optimized.jpg" alt="">
    </div>
    <div class="bad">
        <p>Техническое обслуживание</p>
    </div>
<div class="mad">
    <p>Уход и своевременное техническое обслуживание обеспечивают надежное функционирование Вашего Porsche, способствуют сохранению его потребительской стоимости и позволяют производителю выполнить свои гарантийные обязательства</p>
    <p>Оптимальные межсервисные интервалы и тщательно продуманный и утверждённый список рабочих операций, выполняемых в ходе технического обслуживания специалистами сервисной станции Porsche, минимизирует Ваши затраты и сохраняет эксплуатационные характеристики Вашего автомобиля.</p>
    <p>Сервис Porsche. Оберегает мечту</p>
    <div class="lol2">
        <a href="{% url 'reg' %}"><p>Записаться на обслуживание</p></a>
    </div>
</div>

{% endblock %}