{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Запасные части Porsche{% endblock %}
{% block content %}
    <div class="cred">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/454769_qf7cQLff6uvjBjqMhyWluc6vJvumEbiU.jpg.optimized.jpg" alt="">
    </div>
    <div class="bad">
        <p>Запасные части</p>
    </div>
<div class="mad">
    <p>Сложный, точно выверенный механизм автомобиля Porsche требует особого отношения. От слаженной работы всех узлов и деталей автомобиля зависят Ваш комфорт и безопасность. Только оригинальные запасные части Porsche проходят строгий контроль качества, что гарантирует их максимальную надежность.</p>
    <p>С оригинальными запасными частями Porsche Ваш автомобиль  сохранит все свои уникальные качества и останется
настоящим Porsche.</p>
    <p>На все оригинальные запасные части Porsche, приобретённые и установленные в Порше Сервис Москва, предоставляется двухлетняя гарантия</p>
    <p>В ряде случаев Вам могут быть предложены восстановленные оригинальные узлы и детали, которые были восстановлены и проверены концерном Porsche. Такие запасные части не только более выгодны по цене, но и сберегают окружающую среду и ресурсы, так как их ремонт требует меньше энергии и материалов, чем производство новых. Разумеется, восстановленные узлы и детали являются настоящими оригинальными компонентами Porsche. На них распространяется двухгодичная гарантия, как и на новые оригинальные запасные части.</p>
</div>


{% endblock %}