{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Кредитование Porsche{% endblock %}
{% block content %}
<div class="cred">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/444173_G8OLBtg4Sd52xDCgN8G8OPmsmpx78pGs.jpg.optimized.jpg" alt="">
    </div>
    <div class="bad">
        <p>Стандартная программа кредитования для автомобилей с пробегом</p>
    </div>
    <div class="mad">
        <p>Основными параметры программы:</p>
        <ol>
            <li>
                <p>Первоначальный взнос – от 20%;</p>
            </li>
            <li>
                <p>Минимальный срок кредитования – 24 месяца;</p>
            </li>
            <li>
                <p>Максимальный срок кредитования – 60 месяцев;</p>
            </li>
            <li>
                <p>Валюта кредитования – российские рубли;</p>
            </li>
            <li>
                <p>Процентная ставка банка в кредитном договоре – от 15,4*% в российских рублях в зависимости от первоначального взноса и срока кредита;</p>
            </li>
            <li>
                <p>Комиссия за оформление кредита и ежемесячные комиссии банка отсутствуют.</p>
        </ol>
        <p>Обязательное оформление полисов КАСКО, ОСАГО. Минимальная сумма кредита 50000 руб., максимальная – 8 млн рублей. Обеспечение по кредиту – залог приобретаемого автомобиля. В случае несвоевременной уплаты процентов и возврата кредита с заемщика взимается 0,1% от суммы неуплаченных в срок процентов и части непогашенной ссудной задолженности за каждый день просрочки. При погашении кредита через иные организации, платежные системы, Почту России взимается комиссия за перевод средств.</p>
        <p>*15,4% - стандартная процентная ставка по кредиту при ПВ от 20% на сроке кредитования от 24 до 60 месяцев зависит от банка-партнера.</p>
        <p>Кредиты по программам Porsche Financial Services (Финансовые услуги Porsche) в России предоставляются банками-партнерами: ПАО РОСБАНК, Генеральная лицензия ЦБ РФ №2272 от 28.01.15 и ООО «Сетелем Банк», лицензии Банка России на осуществление банковских операций №2168 (бессрочные).</p>
        <p>Указанное предложение не является публичной офертой по смыслу Гражданского Кодекса РФ. Информацию о наличии автомобилей узнавайте в салонах официальных дилеров Porsche.</p>
        <p>Информация об условиях кредитования предоставлена партнерами: ПАО РОСБАНК и ООО «Сетелем Банк».</p>
    </div>



{% endblock %}