{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/standard.css' %}" />{% endblock %}
{% block title %}Дополнительное оборудование Porsche{% endblock %}
{% block content %}
    <div class="cred">
        <img src="https://www.porsche-ekaterinburg.ru/photos/header/454768_hfkv7C2L2jdg5AUwVVErGeTldoqxKC4W.jpg.optimized.jpg" alt="">
    </div>
    <div class="bad">
        <p>Дополнительное оборудование</p>
    </div>
<div class="mad">
    <p>Мы верим, что автомобили Porsche представляют собой подлинное воплощение свободы и индивидуальности. Отвергая традиции своего времени в чертежах своего первого родстера, Профессор Порше создал своими руками поистине уникальный спортивный автомобиль.</p>
    <p>С помощью программы дополнительного оборудования Tequipment Вы можете заявить о своей собственной индивидуальности. Широкий ассортимент аксессуаров Tequipment открывает практически безграничные возможности для персонализации Вашего Porsche, будь то повышение мощности Вашего автомобиля или создание ещё более эксклюзивного интерьера. При этом дооснащение Вашего Porsche не повлечёт за собой изменений в условиях гарантии - на дополнительное оборудование Tequipment и работу по его установке распространяется двухлетняя гарантия.</p>
    <p>Porsche Tequipment - истинное воплощение Вашего представления о совершенном автомобиле.</p>
    <p>У свободы обладания истинным воплощением Вашего собственного представления о совершенном автомобиле есть имя. Porsche Tequipment.</p>
</div>


{% endblock %}